<div>
    <h2>
        <span jhiTranslate="furyMusicApp.albumTypes.home.title">Album Types</span>
        <button class="btn btn-primary float-right jh-create-entity create-album-types" [routerLink]="['/', { outlets: { popup: ['album-types-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="furyMusicApp.albumTypes.home.createLabel">
            Create new Album Types
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="albumTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="furyMusicApp.albumTypes.type">Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let albumTypes of albumTypes ;trackBy: trackId">
                <td><a [routerLink]="['../album-types', albumTypes.id ]">{{albumTypes.id}}</a></td>
                <td>{{albumTypes.type}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../album-types', albumTypes.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'album-types/'+ albumTypes.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'album-types/'+ albumTypes.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
