
<div *ngIf="rateAlbum">
    <h2><span jhiTranslate="furyMusicApp.rateAlbum.detail.title">Rate Album</span> {{rateAlbum.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="furyMusicApp.rateAlbum.rate">Rate</span></dt>
        <dd>
            <span>{{rateAlbum.rate}}</span>
        </dd>
        <dt><span jhiTranslate="furyMusicApp.rateAlbum.date">Date</span></dt>
        <dd>
            <span>{{rateAlbum.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="furyMusicApp.rateAlbum.album">Album</span></dt>
        <dd>
            <div *ngIf="rateAlbum.album">
                <a [routerLink]="['/album', rateAlbum.album?.id]">{{rateAlbum.album?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="furyMusicApp.rateAlbum.user">User</span></dt>
        <dd>
            {{rateAlbum.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'rate-album/'+ rateAlbum.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
