<div>
    <h2>
        <span jhiTranslate="furyMusicApp.concerts.home.title">Concerts</span>
        <button class="btn btn-primary float-right jh-create-entity create-concerts" [routerLink]="['/', { outlets: { popup: ['concerts-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="furyMusicApp.concerts.home.createLabel">
            Create new Concerts
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="concerts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="furyMusicApp.concerts.name">Name</span></th>
            <th><span jhiTranslate="furyMusicApp.concerts.place">Place</span></th>
            <th><span jhiTranslate="furyMusicApp.concerts.latitude">Latitude</span></th>
            <th><span jhiTranslate="furyMusicApp.concerts.longitud">Longitud</span></th>
            <th><span jhiTranslate="furyMusicApp.concerts.urlGoogle">Url Google</span></th>
            <th><span jhiTranslate="furyMusicApp.concerts.date">Date</span></th>
            <th><span jhiTranslate="furyMusicApp.concerts.band">Band</span></th>
            <th><span jhiTranslate="furyMusicApp.concerts.artist">Artist</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let concerts of concerts ;trackBy: trackId">
                <td><a [routerLink]="['../concerts', concerts.id ]">{{concerts.id}}</a></td>
                <td>{{concerts.name}}</td>
                <td>{{concerts.place}}</td>
                <td>{{concerts.latitude}}</td>
                <td>{{concerts.longitud}}</td>
                <td>{{concerts.urlGoogle}}</td>
                <td>{{concerts.date | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="concerts.band">
                        <a [routerLink]="['../band', concerts.band?.id ]" >{{concerts.band?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="concerts.artist">
                        <a [routerLink]="['../artist', concerts.artist?.id ]" >{{concerts.artist?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../concerts', concerts.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'concerts/'+ concerts.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'concerts/'+ concerts.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
