
<div *ngIf="favouriteSong">
    <h2><span jhiTranslate="furyMusicApp.favouriteSong.detail.title">Favourite Song</span> {{favouriteSong.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="furyMusicApp.favouriteSong.liked">Liked</span></dt>
        <dd>
            <span>{{favouriteSong.liked}}</span>
        </dd>
        <dt><span jhiTranslate="furyMusicApp.favouriteSong.date">Date</span></dt>
        <dd>
            <span>{{favouriteSong.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="furyMusicApp.favouriteSong.song">Song</span></dt>
        <dd>
            <div *ngIf="favouriteSong.song">
                <a [routerLink]="['/song', favouriteSong.song?.id]">{{favouriteSong.song?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="furyMusicApp.favouriteSong.user">User</span></dt>
        <dd>
            {{favouriteSong.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'favourite-song/'+ favouriteSong.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
