
<div *ngIf="pending">
    <h2><span jhiTranslate="furyMusicApp.pending.detail.title">Pending</span> {{pending.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="furyMusicApp.pending.pending">Pending</span></dt>
        <dd>
            <span>{{pending.pending}}</span>
        </dd>
        <dt><span jhiTranslate="furyMusicApp.pending.date">Date</span></dt>
        <dd>
            <span>{{pending.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="furyMusicApp.pending.user">User</span></dt>
        <dd>
            {{pending.user?.login}}
        </dd>
        <dt><span jhiTranslate="furyMusicApp.pending.album">Album</span></dt>
        <dd>
            <div *ngIf="pending.album">
                <a [routerLink]="['/album', pending.album?.id]">{{pending.album?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pending/'+ pending.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
